button {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  background-color: #204080;
  padding: 0.375rem 0.75rem;
  margin-bottom: 3rem;
}

button:hover {
  background-color: #4f75c2;
}

.flex {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.brand_logo {
  width: 278px;
  height: 115px;
  flex-shrink: 0;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}
