button {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  background-color: #204080;
  padding: 0.375rem 0.75rem;
}

button:hover {
  background-color: #4f75c2;
}

.flex {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}
